:root {
    font-size: 0.5em;
    
    /* this value is used as a workaround to govern the timer flash effect,
    since pseudo-elements cannot be target in javascript, instead this value is
    changed to give the desired effect*/
    --opacVal: 0;
}
a, a:visited {
    color: darkblue;
    font-size: 1.7em;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    z-index: 1;
    box-shadow: 7px 6px 28px 1px rgb(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
}

a:hover, a:visited:hover {
    box-shadow: 7px 6px 28px 1px rgb(0, 25, 255, 0.24) ;
    color:rgb(141, 48, 199);

}

a:active, a:visited:active {
    color: rgb(204, 204, 219, 0.7);
    background-color: rgb(0, 12, 124, 0.5);
    transform: scale(0.9);
    box-shadow: 3px 2px 22px 1px rgb(0, 0, 0, 0.24);
    
}
a::before, a:visited::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .15; 
    z-index: -1;
    background-color: blue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    padding: 1em;
}

body {
    background-image: url(../images/texture-background1.jpg);
    font-family: monospace;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h1 {
    font-size: 5em;
    margin: 0.5em;
}

h2 {
    font-size: 3em;
    margin: 1em;
}

p {
    font-size: 1.7em;
    width: 75%;
    
}

#content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border: dotted;
    width: 60%;
    min-height: 40em;
}

#welcomeMsg {
    margin: 1em;
}

#start-button {
    margin: 1em;
    min-height: 2em;
    min-width: 25%;
    align-self: center;
    font-size: 2.5em;
    color:rgb(250, 250, 250) ;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
}

#start-button::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1;
    background-color: rgb(12, 43, 157); 
}

#start-button:hover::before{
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    z-index: -1;
    background-color: rgb(76, 12, 115); 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.5);

}

#start-button:active {
    transform: scale(0.93);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#timer-text {
    order: 5;
    margin: 0.3em;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5em;
    bottom: 0;
    right: 0;
    font-size: 3em;
    transition: 0.5s all;
}

#timer-num {
    font-size: 2em;
    border-radius: 1em;
    padding: 0.2em;
    transition: 0.5s all;
    position: relative;
    z-index: 1;
}

#timer-num::before {
    position: absolute;
    content: "";
    border-radius: 1em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgb(191, 18, 18),white);
    z-index: -1;
    transition: opacity 0.2s linear;
    opacity: var(--opacVal);
 
}


#question-text {
    margin: 1em;
    font-size: 1.7em;
    width: 90%;
    border-radius: 10px;
    padding: 0.8em 2em;
    position: relative;
    z-index: 1;
    box-shadow:  5px 5px 30px -15px black;
    cursor: default;

}

#question-text::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .5; 
    z-index: -1;
    background-color:rgb(250, 250, 250) ;
}

.answer-choice {
    margin: 0.6em 0.6em 0.6em 1.5em;
    padding: 0.2em 0.2em 0.2em 1.5em;
    border-radius: 20px;
    font-size: 1.7em;
    width: 15em;
    color:rgb(250, 250, 250);
    background-color: rgb(12, 43, 157, 0.95);
    box-shadow: 2px 5px 10px  black;
    cursor: default;

}

.answer-choice:hover {
    background-color: rgb(76, 12, 115, 0.95) !important;
    box-shadow: 1px 1px 10px  black;
    
}

code {
    font-size: 0.9em;
    background-color: rgb(171, 171, 171, 0.5);
    padding: 0.2em;
    border-radius: 5px;
}


#your-score {
    margin: 0.5em;
}

#score-form {
    font-size: 1.5em;
    margin: 1em;
}

#name-input {
    margin: 0.5em;
}

#submit-btn {
    margin: 1em;
    min-height: 2em;
    min-width: 25%;
    align-self: center;
    color:rgb(250, 250, 250) ;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background-color: rgb(12, 43, 157); 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
}


#submit-btn:hover{
    background-color: rgb(76, 12, 115); 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.5);

}

#submit-btn:active {
    transform: scale(0.93);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

input[type="button"] {
    margin: 2em;
    min-height: 2em;
    min-width: 15%;
    align-self: center;
    font-size: 1.3em;
    padding: 0.5em;
    color:rgb(250, 250, 250) ;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background-color: rgb(12, 43, 157); 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.1s all;
}


input[type="button"]:hover{
    background-color: rgb(76, 12, 115); 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.5);

}

input[type="button"]:active {
    transform: scale(0.93);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


#score-list {
    list-style-type: decimal;
    font-size: 2em;
    counter-reset: count;
}

/* makes list so every other item is different color background */
.score:nth-child(even) {
    background-color: rgb(12, 43, 157, 0.5);
    border-radius: 15px;
    
}

.score {
    list-style-type: none;
    position: relative;
    padding: 0em 2em;
}
  
.score:before {
    counter-increment: count;
    content: counter(count)") ";
    margin-right: 0.5em;
    display:inline-block;
    padding:0 5px;
    border-radius:50%;

} 


#no-score {
    font-style: italic;
}



/* adjusts font size and other elements for appropriate rendering on different screen sizes */
@media screen and (min-width: 470px ){
    :root {
        font-size: 0.7em;
    }
}


@media screen and (min-width: 800px ){
    #timer-text {
        order: 5;
        align-self: flex-end;
        
    }

    :root {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 1140px ){
    #timer-text {
        position: absolute;
        
    }

    .answer-choice {
    margin: 0.6em 0.6em 0.6em 2m;
    }
}

@media screen and (min-width: 1340px ){

    :root {
        font-size: 1em;
    }


}
